/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  /* background: rgb(0,155,0); */
  background: rgb(0,75,0);
  color: rgb(223, 223, 223);
}
#deal,
label{
  display: block;
  margin-top: 15px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}