/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: rgb(0,155,0);
}
#deal,
label{
  display: block;
  margin-top: 15px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}