/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#deal,
label{
  display: block;
  margin-top: 15px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}